@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@font-face {
  font-family: "COCOGOOSE";
  font-style: normal;
  font-weight: 400;
  src: local("COCOGOOSE"), url("https://fonts.cdnfonts.com/s/26936/cocogoose_trial.woff") format("woff");
}
.button-join a {
  text-decoration: none;
  background: #ec5242;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: white;
  display: block;
  width: fit-content;
  margin: auto;
  padding: 16px 28px;
  transition: color 0.5s, background 0.5s;
}
.button-join a:hover {
  color: #ec5242;
  background: #d3d3d3;
  border: 2px solid #ec5242;
  padding: 14px 26px;
}

.top-navbar {
  background: #272a31;
}
.top-navbar .a {
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "Lato", sans-serif;
}
.top-navbar .a:hover {
  color: #d3d3d3;
}
.top-navbar .a:focus {
  color: #d3d3d3;
}

#navbar .button-join a {
  padding: 6px 16px;
  color: #ec5242;
  background: white;
  border: 2px solid #ec5242;
}
#navbar .button-join a:hover {
  border-color: #ec5242;
  color: white;
  background: #ec5242;
}
#navbar .current-page {
  color: #ec5242;
}

.background-header {
  background-image: url("background-header-mobile.jpg");
}

.offcanvas {
  background: #d3d3d3;
}

.logo-container {
  background: #272a31;
}

.logo {
  width: 100%;
}

.btn-close {
  background: transparent url("close-icon-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#headline {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
#headline h1 {
  color: transparent;
  font-family: "COCOGOOSE", sans-serif;
  font-size: calc(1.7rem + 1.5vw);
  background: linear-gradient(165deg, #fcaf21 20%, #f02800 50%, #f88020 75%, #f76050 99%);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
}
#headline .h1-about {
  text-align: center;
  color: #ec5242;
  background: none;
  max-width: 750px;
}
#headline span {
  color: #ec5242;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  display: block;
}
#headline p {
  color: #272a31;
  font-family: "Lato", sans-serif;
  border: 3px solid white;
  background: #fefefe;
  padding: 8px;
  font-weight: 700;
}
#headline h2 {
  color: #272a31;
  font-family: "COCOGOOSE", sans-serif;
}
#headline h4 {
  color: #272a31;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

hr {
  color: #ec5242;
  width: 46px;
  height: 2px !important;
  margin: 0 auto;
  opacity: 1;
}

#main-program {
  background: url("background-main-program.png");
}
#main-program h1 {
  color: #d3d3d3;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
#main-program .col {
  background: #8d8b8b3d;
}
#main-program .row {
  column-gap: 1%;
  row-gap: 12px;
}
#main-program h2 {
  color: #ec5242;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1rem;
}
#main-program p {
  color: #d3d3d3;
  margin: 0;
  font-size: 0.75rem;
}

.connect-icon::before {
  content: url("lecture.svg");
  display: block;
  width: 44px;
}

.enlightening-icon::before {
  content: url("exhibition.svg");
  display: block;
  width: 44px;
}

.showcase-icon::before {
  content: url("workshop.svg");
  display: block;
  width: 44px;
}

.forum-icon::before {
  content: url("forum.svg");
  display: block;
  width: 44px;
}

.discussion-icon::before {
  content: url("discussion.svg");
  display: block;
  width: 44px;
}

#featured-speakers h1 {
  color: #272a31;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

#speakers {
  row-gap: 36px;
  overflow: hidden;
}
#speakers .speaker-photo-bg {
  background: url("speaker-photo-bg.png");
  aspect-ratio: 1/1;
  align-self: flex-start;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}
#speakers .speaker-name {
  color: #272a31;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
#speakers .speaker-position {
  color: #ec5242;
  font-family: "Lato", sans-serif;
  font-style: italic;
}
#speakers .speaker-description {
  color: #272a31;
  font-family: "Lato", sans-serif;
}
#speakers .speaker-photo {
  width: 80%;
}
#speakers hr {
  color: #d3d3d3;
  width: 23px;
  margin: 0 100% 0 0;
  opacity: 1;
}

.caret {
  color: #ec5242;
  margin-left: 1%;
}

.button-more {
  color: #272a31;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  max-width: 600px;
  margin: 0 auto;
}

#partners {
  background: #272a31;
}
#partners h1 {
  color: #d3d3d3;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
#partners .partner-logo {
  width: 100%;
}
#partners .partner-logo-ibm {
  width: 65%;
}
#partners .row {
  row-gap: 36px;
}

#footer .logo {
  width: 100%;
  height: auto;
  max-width: 266px;
}
#footer h3 {
  color: #272a31;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin: 0;
}
#footer .footer-description {
  font-weight: 400;
}

.p-about {
  font-weight: 400 !important;
  line-height: 200%;
  text-align: center;
  max-width: 800px;
}

.image-overlay {
  height: calc(100% - 32px);
  top: 0;
  left: 0;
  width: calc(100% - 22px);
  margin: 16px 11px;
  background: #ff0e008a;
  transition: background 0.5s;
}
.image-overlay .h2 {
  font-weight: 700;
  font-size: 8vw;
  font-family: "Lato", sans-serif;
  max-width: 90%;
}
.image-overlay .p {
  font-weight: 700;
  font-size: calc(2vw + 8px);
  font-family: "Lato", sans-serif;
  max-width: 90%;
}

.past-events-card:hover .image-overlay {
  background: #0000008a;
}
.past-events-card:hover img {
  filter: grayscale(1);
}

@media (max-width: 400px) {
  #main-program .program-description {
    width: 50%;
    margin-left: auto;
    overflow: auto;
  }
}
@media (min-width: 400px) and (max-width: 768px) {
  #main-program .program-description {
    width: 60%;
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .navbar-items {
    font-size: 2rem;
  }

  #main-program .program-title {
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .navbar-bg {
    background: white;
  }

  .logo {
    width: auto;
    height: 50px;
  }

  .shadow-nav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  #headline {
    min-height: 600px;
  }
  #headline h1 {
    font-size: 4rem;
  }
  #headline .h1-about {
    font-size: 3rem;
  }
  #headline span {
    font-size: 1.75rem;
  }
  #headline p {
    font-size: 1.2rem;
  }

  #main-program .col {
    width: 32.66%;
  }
  #main-program h2 {
    font-size: calc(1.275rem + 0.3vw);
  }
  #main-program p {
    font-size: 0.85rem;
  }
  #main-program .icon-container {
    height: 63.3px;
  }
  #main-program .program-description {
    margin-top: 0.5rem;
  }

  .image-overlay {
    margin: 0 11px;
    height: 100%;
  }
  .image-overlay .h2 {
    font-size: 4vw;
  }
  .image-overlay .p {
    font-size: 2vw;
  }

  .about-footer#footer {
    background: #272a31;
  }
  .about-footer#footer h3 {
    color: white;
  }
}
@media (min-width: 992px) {
  #headline h1 {
    font-size: 5rem;
  }

  #main-program .col {
    width: 19.2%;
  }
}

/*# sourceMappingURL=styles.css.map */
